.ul{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #2196f3;
    overflow: hidden;
}
.ul li{
    float: right;
    padding: 10px;
    margin: 3px;
}
.ul li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.ul li a:hover{
    background-color: #f2f2f2;
    color: #000;
    border-radius: 3px;
    transition: 0.3s;
    box-shadow: 1px 4px 15px 1px #555 ;
}
.header{
    text-align: center;
    color: #2196f3;
    font-family: tahoma;
}
p{
    color: #2196f3;
    text-align: center;
}
.pc{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #2196f3;
    overflow: hidden;
}
.pc li{
    float: right;
    padding: 10px;
    margin: 3px;
}
.pc li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.pc li a:hover{
    background-color: #f2f2f2;
    color: #000;
    border-radius: 3px;
    transition: 0.3s;
    box-shadow: 1px 4px 15px 1px #555 ;
}
.figcaption{
    text-align: center;
    background-color: #2196f3;
    color: #fff;
    font-style: italic;
    padding: 10;
    width: 973;
}
.figcaption1{
    text-align: center;
    background-color: #2196f3;
    color: #fff;
    font-style: italic;
    padding: 10;
    width: 871;
}
.figcaption2{
    text-align: center;
    background-color: #2196f3;
    color: #fff;
    font-style: italic;
    padding: 10;
    width: 575;
}
.figcaption3{
    text-align: center;
    background-color: #2196f3;
    color: #fff;
    font-style: italic;
    padding: 10;
    width: 376;
}
.figcaption4{
    text-align: center;
    background-color: #2196f3;
    color: #fff;
    font-style: italic;
    padding: 10;
    width: 543;
}
.box{
    max-width: 500;
    text-align: center;
    font-family: tahoma;
    background-color: #2196f3;
    color: #fff;
    padding: 50;
    margin: 0 auto;
}
.pa{
    color: #fff;
    text-align: center;
    font-family: tahoma;
}
input{
    width: 150px;
    margin-top: 20px;

    top: 0px;
    text-align: justify;
    border-radius: 6px;
    height: 100;
}
.lablee{
    top: 150spx;
}
